<!DOCTYPE html>
<html lang="en">
<head>
    <title>About | Lee's Picture Framing</title>
    <module href="/components/head.html"></module>
    
</head>
<body>
	<module href='/components/header.html'></module>
	<main>
		<section class='about-page'>
            <div class='section-title-wrapper'>
                <h2 class='about-page__title section-title'>Our Story</h2>
                <div class='about-page__underline divider'></div>
            </div>
            <div class='about-page__content-wrapper'> 	
              <div class='about-page__text text-news'>
                	<p>We are Lee and Marek, owners of Lee's Picture Framing. Our business is family-owned and operated and has been in the industry for over 25 years. We have established stores in Dandenong Market, Notting Hill, Springvale, and Laverton during this time. Fast forward to the present day, Lee's Picture Framing operates entirely out of two stores, one in Laverton Market and the other in Springvale.</p>
                	<br />
                	<p>Over the years, we have enjoyed the luxury of serving our customers quality frames. Using a family-friendly service approach, we have conveniently met and discussed all things picture framing with our longstanding neighborhood clients. We are proud to have established a loyal customer base. We want to thank all of those who have selected us as their primary picture framing service in Melbourne.</p>
                	<br />
                	<p>Behind the scenes, production occurs in our nearby factory, where we bring your ideas to life. Ensuring the years of experience is reflected in the outcome, we certify that our family friendly approach transfers internally to our customers' everyday handling.</p>
                    <br />
                    <p>All it takes is a visit to one of our stores for a free consultation, and once pleased with the designs; we take care of the rest. From sourcing materials, measuring, cutting, and assembling, you can be sure that expertise and passion are given at every moment throughout your time with us.</p>
              </div>
                 <div class='about-page__image-wrapper'>
                    <img class='about-page__image'  src='https://ik.imagekit.io/damolew19/images/IMG_5389.jpg' alt='Dandenong Market Picture Framing' />
                </div>
                <div class='about-page__image-wrapper'>
                    <img class='about-page__image'  src='https://ik.imagekit.io/damolew19/images/about-1.jpeg' alt='Custom Framing Near Me' />
                </div>
                <div class='about-page__image-wrapper'>
                    <img class='about-page__image'  src='https://ik.imagekit.io/damolew19/images/lee_pi_321.jpg' alt='Dandenong Market Picture Framing' />
                </div>
            </div>
        </section>
	</main>
	<module href='/components/footer.html'></module>
	<script src="bundle.js" defer async></script>
</body>
</html>
