<!DOCTYPE html>
<html>
<head>
    <title>Lee's Picture Framing</title>
    <module href="/components/head.html"></module>
  </head>
<body>
	<module href='/components/header.html'></module>
    <div class='lower-elements'>
    	<main>
    		<section class='about-page'>
                <h2 class='about-page__title section-title'>Our Story</h2>
                <div class='about-page__content-wrapper'>
                	<div class='about-page__underline divider'></div>
                  	<div class='about-page__text text-news'>
                    	<p>We are Lee and Marek, owners of Lee’s Picture Framing. we first started picture framing over 25 years ago, making frames out of their garage and establishing our business in the old Dandenong Market. Soon after building a large customer base, we were forced to upsize our factory and, open a new store in Laverton. Fast forward to present day, we eventualled close of our Dandenong store and with that, a 20 year tenure in a community filled with memories. Now we are expanding our business into the online market and are currently operating out of our factory in springvale and store in Laverton.</p>
                    	<br />
                    	<p>We are proud to have a loyal customer base and would like to thank those who have selected us as their prefered choice for framing in Melbourne. We have have worked with an array of clients ranging from familes, to artists and businesses. We can build frames for all occasions and love to meet new individuals.</p>
                    	<br />
                    	<p>We know that framing can seem quite expensive and that is why our mission and is to set affordable prices without decreasing the quality of our product. We source our materials from trusted retailers and overlook all aspects of framing ourselves. Being active in all aspects of framing allows us to set these low prices and maintain that high level of framing our customers deserve.</p>
                  </div>
                </div>
            </section>
    	</main>
        <div class='about-page__footer'>
    	   <module href='/components/footer.html'></module>
        </div>
    </div>
	<script src="bundle.js" defer async></script>
</body>
</html>
