<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact | Lee's Picture Framing</title>
   <module href="/components/head.html"></module>

</head>
<body>
	<module href='/components/header.html'></module>
	<div class='lower-elements'>
		<main>
			<section class='contact-page'>
				<div class='section-title-wrapper'>
		            <h2 class='contact-page__title section-title'>Contact</h2>
		            <div class='contact-page__underline divider'></div>
		        </div>
		        <div class='contact-page__content-wrapper'>
	        		<form class="contact-page__form" name='contact' method="post" data-netlify="true">
					    <fieldset class='contact-page__form-fieldset'>
					   		<label class="contact-page__form-label" for="name">Name</label>
					   		<input class="contact-page__form-input" id='name' type="text" tabindex="1" required autofocus>
					    </fieldset >
					    <fieldset class='contact-page__form-fieldset'>
					    	<label class="contact-page__form-label" for="email">Email</label>
					     	<input class="contact-page__form-input" type="email" tabindex="2" required>
					    </fieldset>
					    <fieldset class='contact-page__form-fieldset'>
					    	<label class="contact-page__form-label" for="message">Message</label>
					    	<textarea class='contact-page__form-textarea' tabindex="5" required></textarea>
					    </fieldset>
					    <fieldset class='contact-page__form-fieldset'>
					      	<button class='contact-page__form-button' name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
					    </fieldset>
					</form>
		        	<div class='contact-page__information'>
		        		<div class='contact-page__information-block'>
		        			<div class='contact-page__information-mobile-wrapper'>
		        				<module href='/svg/smartphone-icon.svg'></module>
		        				<div class='contact-page__information-block-content'>
		        					<p class='contact-page__information-title'>Give us a call</p>
		        					<p>(+61) 413 599 107</p>
		        				</div>
		        			</div>
		        			<div class='contact-page__information-divider'></div>
		        			<div class='contact-page__information-email-wrapper'>
		        				<module href='/svg/message-icon.svg'></module>
		        				<div class='contact-page__information-block-content'>
		        					<p class='contact-page__information-title'>Send us an Email</p>
		        					<p>sales.lpf@gmail.com</p>
		        				</div>
		        			</div>
		        		</div>
		        		<div class='contact-page__information-block'>
		        			<div class='contact-page__information-location'>
		        				<module href='/svg/placeholder-icon.svg'></module>
		        				<div class='contact-page__information-block-content'>
		        					<p class='contact-page__information-title'>Come see us</p>
		        					<p>217 Springvale Rd, Springvale, 3171 VIC</p>
		        				</div>
		        			</div>
		        			<div class='contact-page__information-times'>
		        				<div class='contact-page__information-block-content'>
		        					<p class='contact-page__information-title'>Opening Times</p>
		        					<p>Mondy-Friday: 9am-3pm<br/>Sat-Sun: closed</p>
		        				</div>
		        			</div>
		        		</div>
		        		<div class='contact-page__information-block'>
		        			<div class='contact-page__information-location'>
		        				<module href='/svg/placeholder-icon.svg'></module>
		        				<div class='contact-page__information-block-content'>
		        					<p class='contact-page__information-title'>Come see us</p>
		        					<p>217 Springvale Rd, Springvale, 3171 VIC</p>
		        				</div>
		        			</div>
		        			<div class='contact-page__information-times'>
		        				<div class='contact-page__information-block-content'>
		        					<p class='contact-page__information-title'>Opening Times</p>
		        					<p>Mondy-Friday: 9am-3pm<br/>Sat-Sun: closed</p>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		    </section>
		</main>
		<module href='/components/footer.html'></module>
	</div>
	<script src="bundle.js" defer async></script>
</body>
</html>
