<!DOCTYPE html>
<html>
<head>
    <title>Lee's Picture Framing</title>
    <module href="/components/head.html"></module>
  </head>
<body>
	<module href='/components/header.html'></module>
	<div class='lower-elements'>
		<main>
			<section class='gallery-page'>
				<div class='gallery-page__header'>
		            <h2 class='gallery-page__title section-title'>Gallery</h2>
		            <div class='gallery-page__underline divider'></div>
		        </div>
		        <div class='gallery-page__months-wrapper'>
		            <div class='gallery-page__month'>
		            	<div class='gallery-page__month-header'>
		            		<h3 class='gallery-page__month-heading'>August</h3>
		            	</div>
		            	<div class='gallery-page__images-wrapper'>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            		<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            </div>
		            </div>
		            <div class='gallery-page__month'>
		            	<div class='gallery-page__month-header'>
		            		<h3 class='gallery-page__month-heading'>July</h3>
		            	</div>
		            	<div class='gallery-page__images-wrapper'>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            		<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            </div>
		            </div>
		            <div class='gallery-page__month'>
		            	<div class='gallery-page__month-header'>
		            		<h3 class='gallery-page__month-heading'>June</h3>
		            	</div>
		            	<div class='gallery-page__images-wrapper'>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            		<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            	<div class='gallery-page__item'>
			            		<img class='gallery-page__item-image' src='../images/feature-one.jpg' />
			            	</div>
			            </div>
		            </div>
		        </div>
	        </section>
		</main>
		<module href='/components/footer.html'></module>
	</div>
	<script src="bundle.js" defer async></script>
</body>
</html>
