<!DOCTYPE html>
<html lang="en">
  <head>
    <module href="/components/head.html"></module>
    <title>Lee's Picture Framing | Melbourne Local</title>
  </head>
  <body>
    <module href='/components/header.html'></module>
    
      <main>
        <section class='home'>
          <div class='home__content-wrapper'>
            <h1 class='home__heading'>Frames For Life</h1>
            <h2 class='home__secondary-heading'>Specialist in designing and manufactoring picture frames.</h2>
            <div class='home__call-to-action-wrapper'>
              <a class='home__call-to-action btn-16' href='./services.html'>Our Work</a>
            </div>
          </div>
        </section>

        <section class='welcome'>
          <div class='welcome__content-wrapper'>
            <div class='welcome__text text-news'>
              <div class='margin-center'>
                <div class='welcome__header'>
                  <h2 class='welcome__title section-title'>Meet Your Framers</h2>
                </div>
                <p>We are a picture framing business that specializes in the sales and manufacturing of <span class='bold-text'>custom hand made frames.</span> For over 25 years, we have been providing our framing services to our loyal customer base. Our goal is to produce industry-standard frames at low prices. With extensive knowledge and years of experience, we will work out any of your needs and deliver that final result.</p>
                <br />
                <br />
                <a class='main__link btn-16' href='./about.html'>Learn More About Us!</a>
              </div>
            </div>
            <figure class='welcome__image-wrapper'>
              <img class='welcome__image' src='https://ik.imagekit.io/damolew19/images/IMG_4705.JPEG' alt='Picture Framers'/>
            </figure>
          </div>
        </section>

        <section class='main'>
            <div class='main__first-col'>
              <figure class='main__img-wrapper'>
                <img class='main__img' src='https://ik.imagekit.io/damolew19/images/150781B9-B3C3-42A7-94B0-CDF30FB2DEC6.jpg' alt='framing picture' />
              </figure>
              <div class='main__text-wrapper'>
                <div class='main__header'>
                  <h2 class='main__title section-title'>Services</h2>
                </div>
                <p class='main__text text-news'>
                  PICTURES  //  PRINTS  //  POSTERS  //  PAINTINGS  //  PHOTOS  //  COLLAGES
                  <br/><br/>
                  MEMORABILIA  //  SPORTS JERSEYS/JUMPERS  //  COLLECTIBLES //  MEDALS  //  CERTIFICATES // DEGREES  //  DISC VINYLS/RECORDS
                  <br/><br/>
                  3D SHADOW BOXES  //  HEIRLOOMS  //  TAPESTRY  //  TEXTILES  //  EMBROIDERY  //  NEEDLE WORK  //  JEWELRY 
                </p>
                <br />
                <br />
                <a class='main__link btn-16' href='./services.html'>Check Out Our Gallery!</a>
              </div>           
            </div>
            <div class='main__second-col'>
              <div class='main__text-wrapper'>
                 <div class='main__header'>
                  <h2 class='main__title section-title'>Making frames for over 25 years.</h2>
                </div>
              </div>
              <figure class='main__img-wrapper'>
                <img class='main__img' src='https://ik.imagekit.io/damolew19/images/IMG_7948.JPEG' alt='framing picture' />
              </figure>
            </div>
        </section>

        <section class='main main--second-row'>
          <div class='main__first-col'>
            <div class='main__text-wrapper'>
              <div class='main__header'>
                    <h2 class='main__title section-title'>Store Locations.</h2>
                  </div>
                <div class='main__text'>
                  <div class='main__address-wrapper'>
                    <div class='main__area'>
                      <h3 class='main__sub-heading'>Springvale</h3>
                      <p>217 Springvale Rd, Springvale, 3171 VIC</p>
                      <p>Monday - Thursday: 9am - 3pm</p>
                      <p>Saturday - Sunday: Closed</p>
                    </div>
                    <div class='main__area'>
                      <h3 class='main__sub-heading'>Laverton Market</h3>
                      <p>8/18 Leakes Rd, Laverton North, 3026 VIC</p>
                      <p>Monday - Friday: Closed</p>
                      <p>Saturday - Sunday: 9am - 3pm</p>
                    </div>
                  </div>
                  <br /> <br />
                  <a class='main__link btn-16' href='./contact.html'>Book an Appointment!</a>
                </div>
                
              </div>
            <figure class='main__img-wrapper'>
              <img class='services__img' src='https://ik.imagekit.io/damolew19/images/IMG_8924.JPEG' alt='framing picture' />
            </figure>
          </div>
          <div class='main__second-col'>
              <div class='main__text-wrapper'>
                  <div class='main__header'>
                    <h2 class='main__title section-title'>Materials used from Australian suppliers.</h2>
                  </div>
              </div>
              <figure class='main__img-wrapper'>
                <img class='main__img' src='https://ik.imagekit.io/damolew19/images/IMG_7458.JPEG' alt='framing picture' />
              </figure>
          </div>  
        </section>
      </main>
      <module href='/components/footer.html'></module>

    <script src="bundle.js" defer async></script>
      
  </body>
</html>
