<!DOCTYPE html>
<html lang="en">
<head>
	<title>Services | Lee's Picture Framing</title>
   <module href="/components/head.html"></module>
</head>
<body>
	<module href='/components/header.html'></module>
	<main>
			<section class='services-page'>
				<div class='section-title-wrapper'>
		            <h2 class='services-page__heading section-title'>Services</h2>
		            <div class='services-page__underline divider'></div>
		        </div>
		        <div id="root"></div>
	        </section>
	</main>
	<module href='/components/footer.html'></module>
	<script src="bundle.js" defer async></script>
</body>
</html>
