<!DOCTYPE html>
<html>
<head>
    <title>Lee's Picture Framing</title>
    <module href="/components/head.html"></module>
  </head>
<body>
	<module href='/components/header.html'></module>
	<div class='lower-elements'>
		<main>
			<section class='services-page'>
				<div class='services-page__header'>
		            <h2 class='services-page__heading section-title'>Serivces</h2>
		            <div class='services-page__underline divider'></div>
		            <nav class='services-page__nav'>
		            	<ul class='services-page__nav-list'>
		            		<li class='services-page__nav-item'>
		            			Photos
		            		</li>
		            		<li class='services-page__nav-item'>
		            			Prints
		            		</li>
		            		<li class='services-page__nav-item'>
		            			Canvas
		            		</li>
		            		<li class='services-page__nav-item'>
		            			Certificates
		            		</li>
		            		<li class='services-page__nav-item'>
		            			Memorbilia
		            		</li>
		            		<li class='services-page__nav-item'>
		            			Embroidery
		            		</li>
		            	</ul>
		            </nav>
		        </div>
		        <div id="root"></div>
<!-- 		        <module href='/components/services-page-photos.html' locals='{"title": "Memorbilia"}'></module>
		        <module href='/components/services-page-prints.html' locals='{"title": "Memorbilia"}'></module> -->
	        </section>
		</main>
		<module href='/components/footer.html'></module>
	</div>
	<script src="bundle.js" defer async></script>
</body>
</html>
