*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: $main-font, 'Open Sans', sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

body {
    background: $bg-color;
    color: $default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
}


img {
    width: 100%;
    object-fit: cover;
}

button {
    background: inherit;
    color: $default;
    border-color: $default;
    font-family: inherit;
}

.section-title {
    font-size: 2.25em;
    font-family: $title-font;
    font-weight: normal;

}

.divider {
    width: 40px;
    border: 2px solid #49494b;
    background: $default;
}

.text-news {
    text-align: justify;
  text-justify: inter-word;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.lower-elements {
    position: relative;
    top: 3rem;
}

.horizontal-margins {
    padding-left: 8rem;
    padding-right: 8rem;
}

.bold-text{
    font-weight: bold;
}

.link {
    position: relative;
    transition: clip-path 275ms ease;

    &:hover:before, &:focus:before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    &:before {
        position: absolute;
        content: attr(data-content);
        color: inherit;
        text-decoration: underline;
        text-decoration-color: inherit;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        transition: clip-path 275ms ease;
    }
}