.home {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	position: relative;
	background: linear-gradient(0.45deg, rgba(255, 255, 255, 0) 20.27%, #fff 57.33%);
	min-height: 100vh;
	overflow: hidden;

	&:after {
		content: '';
		background: url('https://ik.imagekit.io/damolew19/images/hero.jpeg');
		position: absolute;
		top: 40%;
		left: 0;
		width: 100vw;
		height: calc(100% - 4rem);
		background-size: cover;
		background-position: 80% 0%;
		z-index: -1;
	}

	&__content-wrapper {
		padding: 2rem 1.5rem;
	}

	&__heading {
		font-size: 3.25em;
		padding: 1rem 0;
		font-weight: bold;
		font-family: $title-font;
	}

	&__secondary-heading {
		font-size: 1.5em;
		padding: 1rem 0;
		font-weight: normal;

	}

	&__call-to-action-wrapper {
		margin: 2rem 0;
	}

	&__call-to-action {
		font-size: 1.5em;
		padding: 0.5em;
	}
}

.welcome {
	width: 100%;
	padding: 2rem;


	&__underline {
		margin: 0 auto;
	}

	&__content-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__image-wrapper {
		width: 100%;
		position: relative;
		flex: 1;
	}

	&__text {
		margin-bottom: 1rem;
		flex: 1;
		border: solid $default 2px;
		padding: 2rem;
		text-align: center;
	}

	&__image {
		object-fit: cover;
		height: 100%;
	}

	&__side-image-wrapper {
		display: none;
	}
	
}

.main {
	width: 100%;
	padding: 2rem 2rem;
	text-align: center;

	&__text {
		text-align: center;
	}

	&__first-col, &__second-col {
		display: flex;
		flex-direction: column;
	}

	&__first-col {
		padding-bottom: 2rem;
	}


	&__first-col &__img-wrapper {
		order: 1;
	}
	

	&__first-col &__text-wrapper {
		margin-bottom: 2rem;
	}

	&__second-col &__text-wrapper {
		margin-bottom: 2rem;
	}

	&__link {
		font-size: 1rem;
		padding: 0.5rem;
	}

	&__text-wrapper {
		border: solid $default 2px;
		padding: 2rem;

		&--connect {
			margin-top: 2rem;
		}
	}

	&__img {
		height: 100%;
	}

	&__img-wrapper {
		overflow: hidden;
	}

	&__area {
		padding: 0.5rem;
	}


}
