@media only screen and (min-width: 480px) {
	.services-page {
		&__item {
			width: 50%;	
		}
	}
}

@media only screen and (min-width: 800px){

	.section-title {
	    font-size: 2.5em;
	    padding-bottom: 1rem;
	    
	}

	.divider {
	    border: 1px solid #49494b;
	    background: $default;
	}

	.header {
		padding: 1rem 10%;
		max-height: none;
		font-size: 1.2em;
		position: relative;

		&__main {
			display: flex;
			flex-direction: row;
		}

		&__navigation {
			display: block;

		}

		&__mobile {
			display: none;
		}

		&__list-wrapper {
			display: flex;
			align-items: center;
		}

		&__item {
			padding: 0 1vw;
		}


		&__info {
			display: block;
		}

		&__info {
			width: 130px;

			& .icon {
				width: 24px;
				margin-right: 0.5rem;
			}
		}

		&__info-location {
			margin-bottom: 0.5rem;
		}

		&__info-phone, &__info-location {
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-size: 1rem;
		}


		&__icon {
			width: 30px;
			opacity: 0.5;
			padding-right: 0.5rem;
			transition: all 0.2s;
		}

		&__icon:hover {
			opacity: 1;
			transform: scale(1.1)
		}


	}

	.footer {
		padding: 4rem 5vw;

		&__link h3, &__link p, &__location h3, &__location p {
			margin-bottom: 0.5rem
		}

		&__sub-heading {
			margin-bottom: 0.5rem;
		}

		&__large-screen-divider {
			border: solid 1px $default;
			background: $default;
			margin: 0 1rem;
		}

		&__body {
			display: flex;
			justify-content: space-around;
		}

		&__location {
			display: flex;
		}

		
	}

	.services-page {
   		padding: 2rem 8rem;

   		&__heading {
			font-family: $main-font;
			font-size: 60px;
			font-weight: normal;
		}

		&__underline {
			margin: 0.4rem auto ;
			width: 660px;
		}

		&__hero-section {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		&__hero-text-wrapper {
			margin: 0;
		}

		&__item {
			width: 33.3%;
  			padding: 0.2rem;
		}

		&__nav-list {
			justify-content: space-around;
			font-size: 1rem;
		}

		&__nav-item {
			flex: 1;
			padding: none;
			position: relative;
		}

		&__item-text {
			font-size: 1em;
		}
	}

	.contact-page {

		padding: 2rem 4rem;

   		&__title {
			font-family: $main-font;
			font-size: 60px;
			font-weight: normal;
		}

		&__underline {
			margin: 0.4rem auto ;
			width: 660px;
		}

		&__content-wrapper {
			display: flex;
			justify-content: space-around;
		}

		&__form {
			margin: 0;
		}

		&__information {
			text-align: left;
			padding: 0 2rem;
			font-size: 12px;

			&-block {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				padding: 1rem 0;
				border-bottom: solid 1px $default;
			}

			&-mobile-wrapper, &-email-wrapper, &-location {
				display: flex;
				align-items: center;
			}

			// &-mobile-wrapper, &-email-wrapper, &-location, &-times {
			// 	width: 50%;
			// }

			&-divider {
				height: 100%;
				border: solid 1px $default;
				background: $default;
			}

		}
		

	}

	.about-page {
		padding: 2rem 8rem;

		&__title {
			font-family: $main-font;
			font-size: 60px;
			font-weight: normal;
		}

		&__content-wrapper {
			margin: 2rem 0;
		}

		&__underline {
			margin: 0.4rem auto ;
			width: 660px;
		}

		&__text {
			margin: 0 0 2rem 0;
		}

		&__image-wrapper {
			height: 70vh;
			margin-bottom: 1rem;
		}

	}

	//homePage Section Starts

	.home {
		background: linear-gradient(90.42deg, rgba(255, 255, 255, 0.75) 21.69%, rgba(196, 196, 196, 0) 99.33%);
		text-align: left;
		&:after {
			top: 0;
			width: 100vw;
			min-height: 100%;
			background-position: 0% 0%;
		}

		&__content-wrapper {
			margin-left: 5%;
			max-width: 650px;
			padding: 5vw 1.5rem;
		}

		&__heading {
			font-size: 5em;
		}

		&__secondary-heading {
			font-size: 2em;
			padding: 0.5em 0;
		}

		&__call-to-action {
			font-size: 2em;
			padding: 0.5em;
		}

	}

	.welcome {
		padding: 4rem 8vw 0 8vw;
		position: relative;

		&__content-wrapper {
			display: flex;
			flex-direction: row;
			padding: 2rem 0;
		}

		&__underline {
			margin: 0.4rem 1rem 0 0 ;
			width: 300px;
		}

		&__text {
			padding: 5vw;
			margin-bottom: 0;
			margin-right: 1rem;

		}
	}

	.main {
		display: flex;
		padding: 0 8vw;

		&__first-col {
			flex: 2;
		}

		&__second-col {
			flex: 1.5;
		}

		&__first-col &__img-wrapper {
			padding-right: 1rem;
			height: 100%;
		}

		&__second-col &__img-wrapper {
			padding-left: 1rem;
			height: 100%;
		}

		&__first-col &__text-wrapper {
			order: 2;
			margin-top: 2rem;
			margin-bottom: 0;
		}

		&__second-col &__text-wrapper {
			margin-bottom: 2rem;
		}

		&--second-row &__second-col &__text-wrapper {
			margin-top: 2rem;
		}

		&--second-row {
			padding-bottom: 4rem;
		}

		&__link {
			padding: 1vw;
		}

	}

	//homePage Section Ends
}

@media only screen and (min-width: 1000px) {
	.about-page {

		&__image-wrapper {
			padding-right: 0.5rem;
			padding-bottom: 0.5rem;
			width: 50%
		}

		&__content-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__text {
			margin-right: 1rem;
			width: 46%
		}
	}

	.main {
		&__address-wrapper {
			display: flex;
			justify-content: space-around;

			& .main__sub-heading {
				margin-bottom: 0.5rem;
			}
		}
	}
}

@media only screen and (min-width: 1300px) {
	.welcome {
		&__side-image-wrapper {
			position: absolute;
			right: 0;
			top: 10rem;
			width: 8rem;
			height: 500px;
			display: block;
		}

		&__side-image {
			width: 100%;
			height: 100%;
		}
	}
	.main {
		&__text-wrapper {
			padding: 4rem;
		}
	}
}

@media only screen and (min-width: 1700px) {
	html {
		font-size: 24px;
	}

	.section-title {
	    font-size: 4em;
	    padding-bottom: 1rem;
	}

	.about-page {
		&__image-wrapper {
			width: 33%;
		}
	}

	.home {

		&__content-wrapper {
			max-width: 1000px;
		}

		&__secondary-heading {
			padding: 1rem 0;
		}
	}

}

