.services-page {
	padding: 2rem 0rem;
	text-align: center;


	&__underline {
		margin: auto;
	}

	&__heading{
		font-weight: normal;
	}

	&__nav {
		width: 100%;
		background: #eee;
		margin-top: 0.4rem;
	}

	&__nav-list {
		display: flex;
		padding: 1rem 1rem;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__nav-item {
		padding-right: 0.5rem;
		cursor: pointer;
	}

	// &__content-wrapper {
	// 	display: none;
	// }

	&__hero-section {
		position: relative;
		height: auto;
		width: 100%;

		padding: 1.5rem;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background: url('https://ik.imagekit.io/damolew19/images/gallery-cover.jpg');
			background-size: cover;
			background-position: center;
			height: 100%;
			width: 100%;
			z-index: -1;
			opacity: 0.3;
		}
	}

	&__hero-heading {
		padding: 1rem 0;

	}

	&__hero-text-wrapper {
		max-width: 400px;
		margin: auto;
	}

	&__img-wrapper {
		display: grid;
	}

	&__item {
		display: block;
		width: 100%;	
		height: auto;
		padding: 0.1rem;
	}

	&__item-image {
		 max-height: 100%;
		  min-width: 100%;
		  object-fit: cover;
		  vertical-align: bottom;
	}

	&__item-text {
		padding: 0.5rem;
		font-size: 1.5em;
	}

}

.show-service {
    display: block;
}
