<footer class='footer'>
	<h2 class='footer__title'>Lee's Picture Framing</h2>
	<div class='footer__body'>
		<div class='footer__contact'>
			<h3 class='footer__sub-heading'>Contact</h3>
			<p>sales.lpf@gmail.com</p>
			<p>0413599107</p>
		</div>
		<div class='footer__large-screen-divider'></div>
		<div class='footer__location'>
			<div class='footer__springvale'>
				<h3 class='footer__sub-heading'>Springvale</h3>
				<p>217 Springvale Rd, Springvale, 3171 VIC</p>
				<p>Monday-Friday: 9am - 3pm<br/>Saturday - Sunday: closed</p>
			</div>
			<div class='footer__laverton'>
				<h3 class='footer__sub-heading'>Laverton</h3>
				<p>8/18 Leakes Rd, Laverton North VIC 3026</p>
				<p>Monday - Friday: Closed</br>Saturday - Sunday: 9am - 3pm</p>
			</div>
		</div>
	</div>
</footer>