<footer class='footer'>
	<div class='footer__body'>
		
		<div class='footer__useful-links'>
			<h3 class='footer__sub-heading'>Useful Links</h3>
			<a class='footer__link' href='./about.html'>About</a>
			<a class='footer__link' href='./services.html'>Services</a>
			<a class='footer__link' href='./contact.html'>Contact</a>
		</div>
		<div class='footer__connect'>
				<h3 class='footer__sub-heading'>Connect</h3>
				<a class='footer__connect-link' href='https://www.facebook.com/Sales.LPF'><p>Facebook</p></a>
				<a class='footer__connect-link' href='https://www.instagram.com/leespictureframing/?hl=en'><p>Instagram</p></a>
			</div>
	
		<div class='footer__large-screen-divider'></div>
		<div class='footer__location'>
			<div class='footer__springvale'>
				<h3 class='footer__sub-heading'>Springvale</h3>
				<p>217 Springvale Rd, Springvale, 3171 VIC</p>
				<p>Monday - Thursday: 9am - 3pm</p>
				<p>Saturday - Sunday: closed</p>
			</div>
			<div class='footer__laverton'>
				<h3 class='footer__sub-heading'>Laverton Market</h3>
				<p>8/18 Leakes Rd, Laverton North, 3026 VIC</p>
				<p>Monday - Friday: Closed</p>
				<p>Saturday - Sunday: 9am - 3pm</p>
			</div>
		</div>
	</div>
	<div class='footer__bottom'>

		<div class='footer__bottom-center'>
			<div class='footer__logo'>
				<module href='../src/views/svg/lpf-logo.svg'></module>
			</div>
			<p>Copyright © 2020 Lee's Picture Framing</p>
		</div>
	</div>
</footer>