<header class='header'>
	<div class='header__main'>
		<p class='header__title'><a href='./index.html'>Lee's Picture Framing</a></p>
		<nav class='header__navigation'>
			<ul class='header__list-wrapper'>
				<li class='header__item' ><a class='link' href='./about.html' data-content='About Us'>About Us</a></li>
				<li class='header__item' ><a class='link' href='./services.html' data-content='Services'>Services</a></li>
				<li class='header__item' ><a class='link' href='./gallery.html' data-content='Gallery'>Gallery</a></li>
				<li class='header__item' ><a class='link' href='./contact.html' data-content='Contact Us'>Contact Us</a></li>
			</ul>
		</nav>
		<button class='header__button'>
				<svg class='header__hamburger' width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line y1="1" x2="38.6394" y2="1" stroke="#49494B" stroke-width="2"/>
					<line x1="0.319336" y1="23" x2="38.9587" y2="23" stroke="#49494B" stroke-width="2"/>
					<line x1="0.319336" y1="11.421" x2="38.9587" y2="11.421" stroke="#49494B" stroke-width="2"/>
				</svg>
		</button>
	</div>

<!-- 	different style navigation for mobile -->	
	<div class='header__mobile'>
		<nav class='header__navigation--mobile'>
			<ul class='header__list-wrapper--mobile'>
				<li class='header__item link' data-content='About Us'><a href='./about.html'>About Us</a></li>
				<li class='header__item link' data-content='Services'><a href='./services.html'>Services</a></li>
				<li class='header__item link' data-content='Gallery'><a href='./gallery.html'>Gallery</a></li>
				<li class='header__item link' data-content='Contact Us'><a href='./contact.html'>Contact Us</a></li>
			</ul>
		</nav>
	</div>
	
</header>