<meta name='description' content="Lee's Picture Framing is Melbourne's premier local picture framing business. Specialist in custom hand made frames."/>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="index.css" />

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta property="og:url"                content="http://leespictureframing.com.au" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Lee's Picture Framing" />
<meta property="og:description"        content="Local Picture Framing Business Melbourne" />
<meta property="og:image"              content="https://ik.imagekit.io/damolew19/images/IMG_4705.JPEG" />