<div class='services-page__content-wrapper'>
	<div class='services-page__hero-section'>
		<div class='services-page__hero-heading-wrapper'>
			<h2 class='services-page__hero-heading'>Prints</h2>
		</div>
		<div class='services-page__hero-text-wrapper'>
			<p class='services-page__hero-text'>
				Encapture your prints to be the focal point in any room. Select from being mounted or securely placed inside the frame
			</p>
		</div>
	</div>
	<div class='services-page__img-wrapper'>
    	<div class='services-page__item'>
    		<img class='services-page__item-image' src='../images/feature-two.jpg' />
    	</div>
    	<div class='services-page__item'>
    		<img class='services-page__item-image' src='../images/feature-two.jpg' />
    	</div>
    	<div class='services-page__item'>
    		<img class='services-page__item-image' src='../images/feature-two.jpg' />
    	</div>
    </div>
</div>
